
.fixedBottom {
  position: fixed;
  width: 30%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  .actionBar {
    .customer {
      text-align: center;
      .btn-contact {
        line-height:1.9;
        border:none;
        image {
          width: 50rpx;
          height: 50rpx;
          margin-bottom:-10rpx;
        }
        view {
          color: white;
          font-weight: 600;
          font-size: 28rpx;
          margin-top: -15rpx;
        }
      }      
    }
  }
  .iphoneX {
    height: 68rpx;
    width: 30%;
  }
}